@font-face {
  font-family: beon;
  src: url(../fonts/beon/beon.ttf);
}

body {
  background: #111111;
  width: 100%;
}

.team {
  color: #fff;
  font-family: beon;
  width: 720px;
  margin: 0 auto;
  -webkit-animation: neonred 1.5s ease-in-out infinite alternate;
  -moz-animation: neonred 1.5s ease-in-out infinite alternate;
  animation: neonred 1.5s ease-in-out infinite alternate;
}

.saber {
  color: #fff;
  font-family: beon;
  width: 720px;
  margin: 0 auto;
  -webkit-animation: neonblue 1.5s ease-in-out infinite alternate;
  -moz-animation: neonblue 1.5s ease-in-out infinite alternate;
  animation: neonblue 1.5s ease-in-out infinite alternate;
}

.logo {
  width: 720px;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  padding: 15px 0px;
}

.nav {
  padding: 10px 0px;
}

ul {
  text-align: center;
  width: 800px;
  margin: 0px auto;
  padding: 10px 15px;
  text: align: center;
}

li {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-size: 18px;
}

.eventname li {
  display: inline-block;
  background-color: blue;
  color: white;
  font-family: beon;
  font-size: 28px;
  border-radius: 5px;
}

.eventname div {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

.trophy {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.wrapper {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 20px;
}

.leftside {
  float: left;
  width: 40%;
  font-size: 18px;
  line-height: 24px;
}

.rightside {
  float: left;
  width: 60%;
  font-size: 18px;
}

.scoretable {
  width: 100%;
  padding-top: 20px;
}

.scoretable td {
  padding: 5px 0px;
}

.col1 {
  text-align: center;
  width: 10%
}

.col2 {
  text-align: left;
  width: 60%
}

.col3, .col4 {
  text-align: center;
  width: 15%;
}

.gold {
  color: #FFB900;
}

.silver {
  color: #BFBFBF;
}

.bronze {
  color: #C16C00;
}

a {
  text-decoration: none;
  color: #eee;
}

@-webkit-keyframes neonred {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f00, 0 0 70px #f00, 0 0 80px #f00, 0 0 100px #f00, 0 0 150px #f00;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f00, 0 0 35px #f00, 0 0 40px #f00, 0 0 50px #f00, 0 0 75px #f00;
  }
}

@-webkit-keyframes neonblue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00f, 0 0 35px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 75px #00f;
  }
}
